export interface $entity {
#foreach ( $attrib in $entity.attributes)
#if ( $attrib.type == "int" || $attrib.type == "Integer" || $attrib.type == "BigDecimal" || $attrib.type == "Short" )
	$fn.uncapitalize($attrib.name): number;
#elseif ($attrib.type == "String")
	$fn.uncapitalize($attrib.name): string;
#else
	$fn.uncapitalize($attrib.name): $attrib.type;
#end
#end
}
